<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTISCZ.ScmDemand.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <OTISCZ.ScmDemand.UI.Properties.Settings>
            <setting name="OTISCZ_ScmDemand_UI_WsConcordeSupplier_InternalRequest"
                serializeAs="String">
                <value>http://intranetcz.cz.otis.com/ConcordeWebService/internalrequest.asmx</value>
            </setting>
            <setting name="OTISCZ_ScmDemand_UI_WsMail_OtWsMail" serializeAs="String">
                <value>http://intranetcz.cz.eu.otis.utc.com/WsOtMail/OtWsMail.asmx</value>
            </setting>
            <setting name="OTISCZ_ScmDemand_UI_WsScmDemandDebug_ScmDemand"
                serializeAs="String">
                <value>http://localhost:55039/ScmDemand.svc</value>
            </setting>
        </OTISCZ.ScmDemand.UI.Properties.Settings>
    </applicationSettings>
    <!--<runtime>
      <legacyUnhandledExceptionPolicy enabled="1" />
    </runtime>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScmDemand" closeTimeout="00:10:00"
                    maxReceivedMessageSize="999999999">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IScmDemand1" closeTimeout="00:10:00"
                    maxReceivedMessageSize="999999999">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://oczbrd03/wcfscmdemand/ScmDemand.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScmDemand1"
                contract="WcfScmDemand.IScmDemand" name="BasicHttpBinding_IScmDemand1" />
            <endpoint address="http://localhost:55039/ScmDemand.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IScmDemand" contract="WcfScmDemandDebug.IScmDemand"
                name="BasicHttpBinding_IScmDemand" />
        </client>
    </system.serviceModel>
</configuration>