<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTISCZ.ScmDemand.ScheduledTasks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

 
  
  <applicationSettings>
    <OTISCZ.ScmDemand.ScheduledTasks.Properties.Settings>
      <setting name="OTISCZ_ScmDemand_ScheduledTasks_WsScmDemandDebug_ScmDemand"
        serializeAs="String">
        <value>http://localhost:55039/ScmDemand.svc</value>
      </setting>
      <setting name="OTISCZ_ScmDemand_ScheduledTasks_WsScmDemand_ScmDemand"
        serializeAs="String">
        <value>http://oczbrd03/wcfscmdemand/ScmDemand.svc</value>
      </setting>
    </OTISCZ.ScmDemand.ScheduledTasks.Properties.Settings>
  </applicationSettings>
</configuration>
